       
body {
    background-color: rgb(252, 215, 221);
    margin: 50px;
    padding: 100px;
    text-align: justify;
}
h1 {
    text-align: center;
    color: brown;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: royalblue;
}
h3 {
    color: maroon;
    font-style: italic;
}
div {
    text-align: center;
}
img {
    margin: auto;
    display: block;
    border-width: 20px; 
}

.intro {
    text-shadow: 4px;
}